{% extends "_base.html" %}

{% block title %}Raihan Fauzan{% endblock title %}

{% block content %}
  <div class="intro text-center mt-5">
    <h1>Hi!</h1>
    <h2>Raihan Fauzan is here!</h2>
    <p class="other-names">Rehan Ojan</p>
    <p>I am an undergraduate <a href="https://en.wikipedia.org/wiki/Information_system#:~:text=An%20information%20system%20(IS)%20is,or%20roles)%2C%20and%20technology.">Information Systems</a> student at <a href="https://www.gunadarma.ac.id/">Gunadarma University</a>,<br>
      passionate about <span class="highlight">software engineering</span>.<br>
      I currently work as a <span class="highlight">Course Assistant</span> at <a href="https://vm.lepkom.gunadarma.ac.id/">LePKom</a>.
    </p>
    <div class="social-icons mt-3">
      <a href="https://github.com/raihanfauzan962" class="mx-2"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/raihanfauzan962/" class="mx-2"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/_raihanfauzan/" class="mx-2"><i class="fab fa-instagram"></i></a>
      <a href="https://drive.google.com/file/d/1HbwrQOVKhe_SHNL5zyfzKC_XmKFrN3tm/view?usp=sharing" class="mx-2"><i class="fas fa-file-pdf"></i></a>
      <a href="mailto:raihanfauzan962@gmail.com" class="mx-2"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
{% endblock content %}
